.git
.gitignore
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd

.env
venv/
wandb/

doc/
assets/
colab_training.ipynb
eng_sp_training.ipynb
english_spanish_translator_20260409_155517.zip
output.txt
rtx6000pro.txt

loss_plot.png
bleu_score_distribution.png

train.csv
test.csv
tokenizer/
weights/

data/*
!data/tokenizer/
!data/tokenizer/**

finetune/
