OPENAI_API_KEY=
MODEL_RELEASE_OWNER=mathew-felix
MODEL_RELEASE_REPO=english-spanish-translator
MODEL_RELEASE_TAG=eng-sp-tranlate
TRANSLATOR_API_BASE_URL=http://127.0.0.1:8000
TRANSLATOR_AUTO_DOWNLOAD_MODEL=1
TRANSLATOR_DEMO_MODE=0
TRANSLATOR_HOST=0.0.0.0
TRANSLATOR_PORT=8000
WANDB_API_KEY=
WANDB_PROJECT=english-spanish-translator
WANDB_ENTITY=
WANDB_MODE=offline
